.main-container{
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 832px;
    flex-wrap: wrap;
}
.sub-container-1{
    width: 50%;
    max-height: 430px;
    background-color: rgb(255, 255, 255);
    border-bottom: 4px;
    padding-left: 150px;
    padding-bottom: 50px;
    padding-top: 40px;
}

span{
    font-weight: bold;
    color: rgb(2, 153, 103);
}

.sub-container-2{
    width: 50%;
    max-height: 427px;
    background-color: rgb(102, 102, 102);
    padding: 50px 150px;
    border-top: 5px solid;
    border-color: rgb(153, 153, 153);
}


.heading-2-container{
    background-color: rgb(255, 191, 0);
    position: absolute;
    margin-left: -7px;
    margin-top: 8px;
    width: 280px;
    height: 50px;
    text-align: center;
    border-bottom: 5px solid;
    border-color: rgb(204, 153, 0);
    
}

.text-2-container{
    background-color:  rgb(255, 255, 255);
    padding: 56px 15px 15px 15px;
}

.nav-li{
    display: inline;
    margin: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(215, 212, 212);
}

.footer-nav{
    list-style: none;
}

a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.899);
}

.nav-li:hover{
    background-color: rgb(89, 88, 88);
    border-radius: 10px;
}

@media only screen and (max-width: 651px)  {

    .sub-container-1{
        width: 50%;
        max-height: 430px;
        background-color: rgb(255, 255, 255);
        border-bottom: 4px;
        padding-left: 30px;
        padding-bottom: 50px;
        padding-top: 40px;
    }

    .sub-container-2{
        width: 50%;
        max-height: 427px;
        background-color: rgb(102, 102, 102);
        padding: 50px 0 50px 0;
        border-top: 5px solid;
        border-color: rgb(153, 153, 153);
    }
    .text-2-container{
        background-color:  rgb(255, 255, 255);
        padding: 50px 15px 15px 15px;
    }
}

@media only screen and (max-width: 390px) {
    .sub-container-2{
        width: 390px;
        max-height: 427px;
        background-color: rgb(102, 102, 102);
        padding: 50px 0 50px 0;
        border-top: 5px solid;
        border-color: rgb(153, 153, 153);
    }

    .text-2-container{
        background-color:  rgb(255, 255, 255);
        padding: 50px 15px 15px 15px;
    }
    
    p{
        word-wrap: break-word;
        line-height: 27px;
    }

    .nav-li{
        display: block;
        text-align: center;
    }

}